@use '../../../styles/variables';

.sliderContainer {
  width: 100%;
  max-width: 1440px;
  margin-top: 10px;
  pointer-events: auto;
  position: relative;
  transition: padding-left 0.3s ease;
  padding: 0 80px;

  @include variables.respond-to(xs) {
    position: static;
    padding: 0 10px;
    flex-grow: 1;
  }
}

.navigation {
  position: absolute;
  z-index: 10;
  bottom: 50%;
  left: 0;
  width: 100%;
}

.leftButton {
  position: absolute;
  left: 34px;
  width: 40px;
  height: 40px;

  @include variables.respond-to(xs) {
    display: none;
  }
}

.rightButton {
  position: absolute;
  right: 34px;
  width: 40px;
  height: 40px;

  @include variables.respond-to(xs) {
    display: none;
  }
}

.withLeftOffset {
  padding-left: 100px;

  @include variables.respond-to(xs) {
    padding-left: 0;
  }
}

:global {
  .swiper {
    @include variables.respond-to(xs) {
      min-height: 300px;
      margin-top: 10%;
    }
  }
  .swiper-pagination {
    opacity: 0;
    text-align: center;
    margin-top: 24px;

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      background-color: #999;
      opacity: 0.5;
      transition: opacity 0.3s;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
    }

    @include variables.respond-to(xs) {
      opacity: 1;
      position: absolute;
    }
  }
}
