@use '../../../styles/variables';

.yearRangeBlock {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;

  top: 230px;

  font-size: 200px;
  font-weight: 700;
  line-height: variables.$line-height-60;
  z-index: 10;

  display: flex;
  gap: 60px;

  @include variables.respond-to(md) {
    font-size: 140px;
    top: 280px;
  }

  @include variables.respond-to(sm) {
    font-size: 100px;
    top: 310px;
  }

  @include variables.respond-to(xs) {
    position: static;
    font-size: 56px;
    flex-grow: 1;
    margin-top: 20%;
  }

  .minRange {
    color: variables.$secondary-color;
  }

  .maxRange {
    color: variables.$primary-color;
  }
}
