@use '../../../styles/variables';

.heading {
  font-size: 56px;
  color: variables.$text-color;
  display: inline-block;
  position: absolute;
  top: 120px;
  left: 80px;

  &::before {
    content: '';
    position: absolute;
    left: -82px;
    top: 0;
    height: 100%;
    width: 5px;
    background: linear-gradient(to bottom, variables.$secondary-color, variables.$primary-color);
  }

  @include variables.respond-to(md) {
    font-size: 35px;
    top: 60px;
    left: 80px;
  }

  @include variables.respond-to(sm) {
    font-size: 35px;
    top: 60px;
    left: 20px;
  }

  @include variables.respond-to(xs) {
    font-size: 35px;
    top: 60px;
    left: 20px;
  }
}
