// Цвета
$primary-color: #EF5DA8;
$secondary-color: #5D5FEF;
$text-color: #42567A;
$text-color-line: rgba($text-color, 0.1);

// Шрифты
$font-main: "PTSans", Arial, sans-serif;

// Размеры
$container-width: 1440px;
$border-radius: 50%;