// Цвета
$primary-color: #EF5DA8;
$secondary-color: #5D5FEF;
$text-color: #42567A;
$text-color-line: rgba($text-color, 0.1);
$background-color: #F4F5F9;
$white-color: #FFF;

// Шрифты
$font-main: "PTSans", Arial, sans-serif;

// Размеры
$container-width: 1440px;
$border-radius: 50%;

// line-height
$line-height-20: 1.2;
$line-height-30: 1.3;
$line-height-60: 1.6;

// breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  }
}