@use 'sass:map';

// Цвета
$primary-color: #ef5da8;
$secondary-color: #5d5fef;
$text-color: #42567a;
$text-color-line: rgba($text-color, 0.1);
$background-color: #f4f5f9;
$white-color: #fff;

// Шрифты
$font-main: 'PTSans', Arial, sans-serif;

// Размеры
$container-width: 1440px;
$border-radius: 50%;

// line-height
$line-height-20: 1.2;
$line-height-30: 1.3;
$line-height-60: 1.6;

// breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1100px,
  xl: 1400px,
);

@mixin respond-to($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);
  $next-breakpoint: null;

  @if $breakpoint == 'xs' {
    $next-breakpoint: map.get($breakpoints, 'sm');
  } @else if $breakpoint == 'sm' {
    $next-breakpoint: map.get($breakpoints, 'md');
  } @else if $breakpoint == 'md' {
    $next-breakpoint: map.get($breakpoints, 'lg');
  } @else if $breakpoint == 'lg' {
    $next-breakpoint: map.get($breakpoints, 'xl');
  }

  @if $value {
    @if $next-breakpoint {
      @media (min-width: $value) and (max-width: ($next-breakpoint - 1px)) {
        @content;
      }
    } @else {
      @media (min-width: $value) {
        @content;
      }
    }
  }
}
