@use './styles/fonts.scss';
@use './styles/variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
}
html,
body {
  height: 100%;
}

body {
  font-family: variables.$font-main;
  line-height: variables.$line-height-20;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: variables.$background-color;
  color: variables.$text-color;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

.container {
  max-width: variables.$container-width;
  margin: 0 auto;
  border-left: 1px solid variables.$text-color-line;
  border-right: 1px solid variables.$text-color-line;
  position: relative;
  min-height: 100vh;

  .heading {
    font-size: 56px;
    color: variables.$text-color;
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 80px;

    &::before {
      content: '';
      position: absolute;
      left: -82px;
      top: 0;
      height: 100%;
      width: 5px;
      background: linear-gradient(to bottom, variables.$secondary-color, variables.$primary-color);
    }

    @include variables.respond-to(md) {
      font-size: 35px;
      top: 60px;
      left: 80px;
    }

    @include variables.respond-to(sm) {
      font-size: 35px;
      top: 60px;
      left: 20px;
    }

    @include variables.respond-to(xs) {
      font-size: 35px;
      top: 60px;
      left: 20px;
    }
  }
}
